@media (max-width: 1300px) {
    .seasonrecord--end--matches .box--Seasonrecord .position--team h4{
        margin:0 0 .8rem .3rem;
        margin-top: 65px;
    }

    .container--main .seasonrecord--end--matches .box--Seasonrecord{
        width: 100%;
        margin-bottom: 45px;
    }

    .container--main .seasonrecord--end--matches .box--Seasonrecord div{
        display: flex;
        align-items: center;
    }

    .seasonrecord--end--matches .box--Seasonrecord .info--matches{
        margin-top: 16px;
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 15%;
    }

    .seasonrecord--end--matches .box--Seasonrecord .info--matches .wins,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .losses,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .winning--percentage,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .longest--streak{
        flex:0 1 170px;
        margin: 0 10px;
    }

    .seasonrecord--end--matches .box--Seasonrecord .info--matches .wins i,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .losses i,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .winning--percentage i,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .longest--streak i{
        font-size: 30px;
    }

    .seasonrecord--end--matches .box--Seasonrecord .info--matches .wins span,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .losses span,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .winning--percentage span,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .longest--streak span{
        margin-left: 5px;
        font-size: 15px;
    }

    .seasonrecord--end--matches .box--Seasonrecord .info--matches .wins .points--matches,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .losses .points--losses,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .winning--percentage .percentage,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .longest--streak .longest{
        margin: 0;
        font-size: 1.3rem;
    }

    .seasonrecord--end--matches .box--matches,
    .seasonrecord--end--matches .box--matches .matches{
        width: 98%;
    }
}

@media (max-width: 1000px) {
    .box-aside{
        position: fixed;
        left: -150%;
        overflow-y: scroll;
        transition: .7s linear;
    }

    .box-aside.active--box--aside{
        left: 0%;
    }

    .container--main{
        margin-left: 0;
    }

    .footer{
        margin-left: 0;
    }

    .container--main .box--team{
        align-items: center;
        
    }

    .container--main .title--team{
        font-size: 64px;
        padding-top: 88px;
    }

    .container--main .box--team .box--img--team{
        width: 132px;
        height: 132px;
        margin-right: 64px;
    }

    .header{
        display: block;
    }

    .logo--aside{
        display: none;
    }
}

@media (max-width: 768px) {
    .box-aside{
        width: 340px;
        overflow-y: scroll;
    }

    .box-aside .logo--league{
        width: 100%;
        margin-top: 70px;
        display: flex;
        align-items: center;
    }

    .box-aside .logo--league img{
        width: 50px;
        margin-right: 100px;
    }

    .box-aside .box--watch--xmark{
        display: block;
    }

    .box-aside .fa-xmark{
        position: absolute;
        right: 22px;
        top: 50px;
        color: var(--color-white-rigth);
        display: block;
        font-size: 35px;
    }

    .box-aside .nav--bar .nav--list .menu--drop a .icon--arrow{
        margin-left: 70%;
    }

    .box-aside .logo--league .btn--watch{
        display: block;
        width: 150px;
        height: 40px;
        font-family: var(--bebas-neue);
        border-radius: 5px;
        font-weight: 400;
        font-size: 20px;
        margin-top: 15px;
        color: var(--color-burnt-orange);
    }

    .box-aside .box--info{
        display: flex;
        flex-direction: column;
        border-top: 2px solid var(--color-ambar-dourado);
        margin-left: 15px;
        padding-top: 15px;
    }
    
    .box-aside .box--info .box--esl--gaming h4,
    .box-aside .box--info .box--contact--press h4,
    .box-aside .box--info .box--follow--us h4{
        font-family: var(--bebas-neue);
        color: var(--color-white-rigth);
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: .5rem;
    }
    
    .box-aside .box--info .box--esl--gaming ul li a,
    .box-aside .box--info .box--contact--press address{
        color: var(--color-white-rigth);
        font-size: .9rem;
        font-family: var(--font-roboto);
        font-weight: 400;
    }

    .box-aside .box--streaming .icons{
        margin-left: 15px;
    }

    .box-aside .box--streaming .img--esea{
        margin-left: 15px;
        width: 65%;
    }
    
    .box-aside .box--streaming .img--esea span{
        font-size: 13px;
    }

    .seasonrecord--end--matches .box--Seasonrecord div{
        width: 100%;
        display: flex;
        margin: 0 5px;
        flex-wrap: wrap;
    }

    .seasonrecord--end--matches .box--matches .matches tr td .box--img--team{
        width: 40px;
        height: 40px;
        padding: 2px;
        margin: 0 5px;
    }

    .seasonrecord--end--matches .box--Seasonrecord .info--matches{
        margin: 0;
    }

    .seasonrecord--end--matches .box--matches .matches tr td .name--team{
        width: 100%;
        font-size: 12px;
        margin-right: 0;
    }

    .result--matche--vitory,
    .result--matche--defeat{
        width: 50px;
        height: 40px;
    }

    .seasonrecord--end--matches .box--matches .matches tr td .points--matches{
        width: 100%;
        padding-left: 15px;
    }

    .box--plays{
        margin: 10px;
    }
    
    .box--plays .cards--plays .card--play{
        flex: 0 1 215px;
    }

    .box--plays .cards--plays .card--play .img--play{
        width: 100%;
        height: 280px;
    }

    .footer .brand-container .logo--brand{
        flex: 0 0 50%;
    }

    .footer .box--info{
        flex-direction: column;
        text-align: center;
    }

    .footer .box--info .box--esl--gaming,
    .footer .box--info .box--contact--press,
    .footer .box--info .box--follow--us{
        font-size: 25px;
        margin: 10px 0;
    }

    .footer .box--info .box--esl--gaming h4,
    .footer .box--info .box--contact--press h4,
    .footer .box--info .box--follow--us h4{
        margin-bottom:15px;
    }
    
    .footer .box--info .box--follow--us .icons{
        display: flex;
        justify-content: center;
    }

    .footer hr{
        height: 1px;
        background: var(--color-white-rigth);
        margin: 8px 16px;
    }
    
    .footer .privacy--policy{
        padding: 25px 10px;
        font-size: 1rem;
    }

    .container--main,
    .footer{
        padding-left: 0;
    }
}

@media (max-width: 650px) {
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .wins,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .losses,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .winning--percentage,
    .seasonrecord--end--matches .box--Seasonrecord .info--matches .longest--streak{
        flex:1 1 45%;
        margin-left: 0;
    }
}

@media (max-width: 425px) {
    .box-aside{
        width: 250px;
        overflow-y: scroll;
    }

    .box-aside .logo--league img{
        margin-right: 30px;
    }

    .box-aside .nav--bar .nav--list .menu--drop a .icon--arrow{
        margin-left: 60%;
    }

    .container--main .box--team .name--team .name{
        margin: 25px 0 0 10px;
        font-size: 35px;
    }

    .container--main .box--team .box--img--team{
        width: 85px;
        height: 85px;
        margin-right: 55px;
    }

    .icons{
        margin: 18px 0 0 12px;
    }

    .box--plays .cards--plays{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}